#!/bin/bash
 
#******************************************************************************#
#                                                                              #
# Modify this file to get your simulation script running.                      #
#                                                                              #
#                                                                              #
# Requirements                                                                 #
# ------------                                                                 #
# 1. peers must be in your PYTHONPATH                                          #
# 2. ipcluster must be in your PATH                                            #
#                                                                              #
# © 2010 G.L. Ciampaglia                                                       #
#                                                                              #
#******************************************************************************#

# Define the simulation name
name=prova

# Define the command template
cmd="python -m peers.peers -c %(a)g --rollback-prob %(b)g 1000 | python -m peers.lt -l $name-%(num)d.npy"

# Generate an input sample
python -m peers.lhd 10 2 -i 0 1 -i 0 1 > sample

# Launch an IPython cluster in background
ipcluster local -n 2 2>&1 >cluster.log &
PID=$!
echo -n "Waiting that ipcluster($PID) is ready..."

# Sleep for enough time so that ipcluster goes up
sleep 6
echo "starting simulation:"

# Generate the jobs commands and send them to the cluster
python -m peers.jobs "$cmd" -p a b num < sample | python -m peers.cluster -v

# If exit code is OK, pack all files created by simulation in an archive. 
# Remove all files once finished.
E_CODE=$?
if [ $E_CODE -eq 0 ];
then 
    python -m peers.pack -p confidence rollback_prob -r $name sample $name-*.npy
else
    echo "Error: simulation terminated with exit code $E_CODE"
    exit $E_CODE
fi

# Kill the IPython cluster
kill -2 $PID
